<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Reservedel\PasserBlant\Block\FitsAmong
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();


if (!$_product instanceof \Magento\Catalog\Model\Product) {
    return;
}

?>
<?php if ($block->getFitsAmongAttribute($_product)) :?>
    <header class="cs-product-details-main__headline" data-role="title">
        <h3 class="cs-product-details-main__headline-title">
            <?= $block->getFitsAmongAttributeLabel($_product);?>
        </h3>
    </header>
    <div class="cs-product-details-main__content" data-role="content">
        <?= $block->getFitsAmongAttribute($_product);?>
    </div>
<?php endif; ?>
