<?php

/** @var \Visma\DownloadMarketingMaterials\Block\Material $block */

$i = 1;
$files = $block->getDownloadableAttributes();
$zip_files = $block->zipFiles($block->getProduct()->getName());
?>

<?php
if (!empty($files)): ?>
    <div class="cs-product-details__marketing-materials" data-mage-init='{
        "collapsible":{
            "collapsible": true,
            "openedState": "active",
            "active": false
        }}'>
        <h3 class="title" data-role="title"><?= $block->getLabel(); ?></h3>
        <div class="content" data-role="content">
            <?php if ($block->isCustomerLoggedIn()): ?>
            <form
                id="product-marketing-materials-form"
                class="product-marketing-materials-form"
                name="zips"
                action="<?= $zip_files ?>"
                method="post">
                <div class="product-marketing-materials-form__actions">
                    <p class="product-marketing-materials-form__buttons-label"><?= $block->escapeHtmlAttr(__('Download selected or all')) ?></p>
                    <div class="product-marketing-materials-form__buttons-wrapper">
                        <input
                            type="submit"
                            class="button product-marketing-materials-form__button primary"
                            data-role="all"
                            name="createzip"
                            value="<?= $block->escapeHtmlAttr(__('Download All')) ?>"/>
                        <input
                            type="submit"
                            class="button product-marketing-materials-form__button secondary"
                            data-role="selected"
                            name="createzip"
                            value="<?= $block->escapeHtmlAttr(__('Download Selected Files')) ?>"/>
                    </div>
                </div>
                <div class="product-marketing-materials-form__controls">
                    <div class="product-marketing-materials-form__control">
                    <?php foreach ($files as $_fileUrl): ?>
                        <div class="product-marketing-materials-form__control-row">
                        <?php $ext = pathinfo($_fileUrl);?>
                            <input
                                id="product-marketing-materials-form__checkbox-<?=$i?>"
                                class="input product-marketing-materials-form__checkbox"
                                type="checkbox"
                                name="files[]"
                                value="<?= htmlspecialchars($_fileUrl) ?>"/>
                            <label class="product-marketing-materials-form__checkbox-label" for="product-marketing-materials-form__checkbox-<?=$i?>">
                                <?php if (isset($ext['extension'])) {?>
                                <?=$ext['filename'];?>
                            </label>
                            <span class="product-marketing-materials-form__file-extention"><?= $ext['extension'];}?></span>
                            <a
                                class="link product-marketing-materials-form__file-download-link"
                                href="<?= $block->getFullPathWithMediaUrl($_fileUrl); ?>"
                                download="<?= basename($_fileUrl); ?>">
                            </a>
                        <?php  $i++;?>
                        </div>
                    <?php endforeach ?>
                    </div>
                </div>
            </form>
           <?php else: ?>
               <div class="product-marketing-materials-authorization">
                   <p class="product-marketing-materials-authorization__buttons-label">
                       <?= $block->escapeHtmlAttr(__('Product\'s marketing material can be seen only by partners.')) ?>
                   </p>
                   <div class="product-marketing-materials-authorization__buttons-wrapper">
                       <a class="product-marketing-materials-authorization__button primary" href="/customer/account/login/"><?= $block->escapeHtmlAttr(__('Log in')) ?></a>
                       <a class="product-marketing-materials-authorization__button secondary" href="/bli-forhandler"><?= $block->escapeHtmlAttr(__('Become a partner')) ?></a>
                   </div>
               </div>
           <?php endif; ?>
        </div>
    </div>

    <script type="text/x-magento-init">
        {
            "#product-marketing-materials-form": {
                "Visma_DownloadMarketingMaterials/js/files-downloader": {}
            }
        }
    </script>
<?php endif; ?>
